#root {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 850px;
}

label {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#selects-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #e33933;
  border-radius: 10px;
  width: 100%;
}

#detector-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
}

@media screen and (max-width: 850px) {
  #selects-block {
    flex-direction: column;
    width: 100%;
  }
  #detector-block {
    flex-direction: column;
    gap: 20px;
  }
  
}