#ChooseConfig {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
        box-sizing: border-box;
    /* Include border and padding in width */
    width: 100%;
    /* Take full width of parent */
    flex-wrap: wrap;
    min-width: 850px;
}
