/* Container for the comment section */
#comment-block {
    align-self: stretch;
    flex: 1;
}

/* Textarea for entering comments */
#comment-textarea {
    width: 98%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Container for comment action buttons */
#comment-buttons-block {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}