/* Container for the entire detector image section */
#detectorImageAll {
  width: 95%;
  margin: 10px;
  box-sizing: border-box; /* Include padding and border in width */
  display: block; /* Use flexbox for layout */
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
}

